h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    margin-left: 5px;
}

p {
    font-size: 1.5rem;
}

.article-head {
    display: flex;
    align-items: center;
}

.article-head__avatar,
.comment__avatar {
    width: 25px;
    border-radius: 10px;
}

.article-head__user-link,
.comment__user-link {
    text-decoration: none;
    color: #025E73;
    margin-left: 10px;
}

.article-head__date {
    margin-left: 10px;
    font-weight: bold;
}

.rating {
    display: flex;
    align-items: center;
}

.rating__image {
    width: 48px;
}
.rating__image_small {
    width: 32px;
}

.rating__downvote {
    rotate: 90deg;
}

.rating__upvote {
    rotate: -90deg;
}

.rating__score {
    font-weight: bold;
    font-size: 24px;
}

.rating__score_small {
    font-weight: bold;
    font-size: 20px;
}

.comment {
    padding-left: 10px;
    border-left: #808080 solid 2px;
}

.comment__date {
    color: rgb(134, 134, 134);
}

.comment__top {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment__mid {
    margin-left: 30px;
}

.comment__bot {}

.sub-comment {
    margin-left: 30px;
}

.comment__text {
    font-size: 20px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comments__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comments__input {
    font-size: 1rem;
    width: 90%;
    height: 10vh;
    resize: none;
    margin: 5px;
    align-self: center;
}

.comments__button {
    background-color: #FBFBFB;
    color: #202020;
    border: 2px #202020 solid;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
    padding: 8px;
}

.comments__button:hover {
    background-color: #202020;
    color: #FBFBFB;
}

@media (max-width: 1200px) {
    .center {
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}