.articles-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 97%;
    height: 100%;
    justify-content: space-between;
}

.articles__pages {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.articles-list__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.articles-list__bot {
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}