html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    height: 100%;
}

body {
    background-color: #202020;
    display: flex;
    flex-direction: column;
}

/* main */
main {
    background-color: #FBFBFB;
    padding-bottom: 10px;
    flex: 1;
}

.frame {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}

.center {
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ham {
    display: none;
}

.ham #m,
.ham #c {
    display: none;
}

.side {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #202020;
    display: none;
    flex-direction: column;

}

.ham-c {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.side__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.side__nav .header__button {
    width: 90%;
    margin: 10px;
}

@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }

    .header__auth {
        display: none;
    }

    .header {
        justify-content: space-between;
        opacity: 1;
    }

    .ham {
        display: block;
    }

    .ham #m {
        display: block;
    }
}


@media (max-width: 800px) {
    .center {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}