html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}
body {
    background-color: #202020;
}
/* buttons */
input  {
    background-color: #FBFBFB;
    color: #202020;
    border: 2px #202020 solid;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px;
    transition-duration: 0.3s;
}
input:hover  {
    background-color: #202020;
    color: #FBFBFB;
}
/* links */
a {
    color: #025E73;
    text-decoration: none;
}
/* header */
.header {
    height: 52px;
    background-color: #202020;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 11.5vw;
    padding-right: 11.5vw;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header_a {
    opacity: 1;
}
.header_b {
    opacity: 0.7;
}
.header_b:hover {
    opacity: 1;
}
.header__link {
    color: #FBFBFB;
    text-decoration: none;
}
.header__title {
    color: #FBFBFB;
    font-size: 40px;
}
.header__button {
    background-color: #FBFBFB;
    color: #202020;
    border: 2px #202020 solid;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px;
    transition-duration: 0.3s;
}
.header__button:hover {
    background-color: #202020;
    color: #FBFBFB;
}
/* main */
main {
    background-color: #FBFBFB;
    padding-bottom: 10px;
}
.title {
    position: relative;
}
.title__crop {
    overflow: hidden;
    width: 100%;
    height: 403px;
    position: absolute;
}
.title__image {
    width: 100%;
    margin: -15% 0 0 0;
    z-index: 1;
}
.title__overlap {
    width: 100%;
    height: 403px;
    background-color: #20202080;
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title__text {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 64px;
    font-weight: normal;
}
.frame {
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 5px;
}
.frame_center {
    padding: 10px;
    margin-left: 11.5vw;
    margin-right: 11.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
/* main->news */
.news {
    display: flex;
    flex-direction: column;
}
.news-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}
.news-item img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.news-item-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.news-item h2 {
    text-align: center;
    margin: auto;
}
.news-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-bot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.news-item-bot a {
    text-decoration: none;
    font-weight: bold;
    color: #025E73;
}
/* main->articles */
.articles {
    display: flex;
    flex-direction: column;
}
.articles-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.articles img {
    width: 1.5vw;
    border-radius: 10px;
}
.articles-item-top span, .articles-item-top a{
    margin-left: 10px;
}
.articles-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.articles-item-center {
    display: flex;
    flex-direction: column;
}
.articles-item-bot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
}
.articles-bot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* footer */
footer {
    background-color: #594432;
    padding: 20px;
    color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-right-icons {
    display: flex;
    flex-direction: row;
}

.footer-right img{
    width: 50px;
}
.ham {
    display: none;
}
.ham #m, .ham #c {
    display: none;
}
.side {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #202020;
    display: none;
    flex-direction: column;

}

.ham-c {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}
.side__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;


}
@media (max-width: 800px) {
    .title__crop,
    .title__overlap {
        height: 208px;
    }
    .title__text {
        font-size: 32px;
    }
    #news2 {
        display: none;
    }
}
@media (max-width: 1200px) {
    #news3 {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__auth {
        display: none;
    }
    .header {
        justify-content: space-between;
        opacity: 1;
    }
    .ham {
        display: block;
    }
    .ham #m {
        display: block;
    }
    
}

